
* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;

  --text-color: white;
  --padding-left-right: 0.8rem;
  /*Debugging */
  /*outline: 1px solid red; */
}


html {
  font-size: 16px;
  font-family: -apple-system, BlinkMacSystemFont, "Open Sans", Roboto,
      "Helvetica Neue", Arial, sans-serif;
  letter-spacing: 0.06rem;
  line-height: 1.4rem;
}

body {

}

.bold-text {
  font-weight: bold;

}

.main-wrapper {
  width: 100%;
  display: grid;
  grid-template-areas: 
  "header-img"
  "content"
  "footer";
  
}

.img-top {
  width: 100%;
  height: 550px;

  grid-area: header-img;

  background-image: url(./img/fitness-375472_1920.jpg);
  background-size: cover;
  background-color: #0008;
  background-blend-mode: darken;
  display: flex;
  justify-content: center;
  align-items: center;
}


.advert-text {
  max-width: 56ch;
  color: var(--text-color);
  padding-left: var(--padding-left-right);
  padding-right: var(--padding-left-right);
}

.header {
  height: 110px;
  width: 100%;
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: var(--padding-left-right);
  padding-right: var(--padding-left-right);
}



.header-img {
  height: auto;
  max-width: 145px;
  /*hsl(0, 0%, 100%)*/
  filter: invert(100%) sepia(3%) saturate(7489%) hue-rotate(331deg) brightness(113%) contrast(109%);
}

.header-img:hover {
  /*hsl(0, 0%, 93%)*/
  filter: invert(99%) sepia(0%) saturate(5936%) hue-rotate(183deg) brightness(120%) contrast(87%);
}

.nav-bar {
  width: 50%;
}

.nav-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;

  list-style: none;
  color: var(--text-color);
}


a.nav-link:link {
  text-decoration: inherit;
}

a.nav-link:visited {
  color: var(--text-color);
}

a.nav-link:hover {
  color: hsl(0, 0%, 93%);
}

.main-content {
  width: 100%;
  grid-area: content;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 75px;
}

.main-content > * {
  padding-left: var(--padding-left-right);
  padding-right: var(--padding-left-right);
  margin-bottom: 75px;
}

.three-points {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;


}

.three-points__labels {
  max-width: 20ch;

}

.three-points__images {
  max-width: 8rem;
  margin-top: 1rem;
    
}



.video {

}


.price-table {
  overflow-x: auto;
  border-collapse: collapse; 
  font-size: 0.7rem;
  letter-spacing: normal;

}

.price-table td, th {
  text-align: center; 
  padding: 0.5rem;
  border: lightgray solid 2px;
}

.tr:nth-child(1) {
  text-align: left;
}



.checkmark {
  width: 40px;
  height: auto;
  /*hsl(90, 48%, 47%)*/
  filter: invert(62%) sepia(11%) saturate(1933%) hue-rotate(47deg) brightness(97%) contrast(97%);
}

.footer {
  --footer-text-color: hsl(215, 14%, 34%);
  grid-area: footer;
  height: 350px;
  display: grid;
  grid-template-rows: repeat(auto-fit, 50%);
  background-color: #eee;
  margin-bottom: 0 !important;
  font-size: 0.8rem;
}

.footer > * {
  padding-left: var(--padding-left-right);
  padding-right: var(--padding-left-right);
}

.footer-newsletter {
  line-height: normal;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer-newsletter label {
  font-size: 1.6em;
}

.footer__email-input {
  font-size: inherit;
  border: none;
  outline: none;
  background: none;
  border-bottom: 1px solid var(--footer-text-color);
  padding: 0.6em 0.4em;
  width: 16em;
}

.footer-newsletter__submit {
  font-size: inherit;
  padding: 1em;
  background-color: none;
  margin-left: 1em;
  margin-top: 10px;
}


.footer-links {
  display: flex;
  flex-direction: column;
  justify-content: center;

  color: var(--footer-text-color);
}

a.footer-link:link {
  text-decoration: inherit;
  width: fit-content;
}

a.footer-link:visited {
  color: var(--footer-text-color);
}

a.footer-link:hover {
  color: hsl(218, 11%, 65%);
}

.footer-links p {
  font-size: 0.6rem;
}


@media (min-width: 0px) {
    html {
      font-size: 1.1rem;
    }
  }
  
@media (min-width: 400px) {
  html {
    font-size: 1.4rem;
  }
}

@media (max-width: 650px) {
  .header {
    
  }

  .nav-items {
    flex-direction: column;
    text-align: center;
  }

  .header-img {
    margin: 0 auto;
  }
}

  
@media (min-width: 1001px) {
  html {
    font-size: 1.6rem;
  }
}
