
* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;

  --text-color: white;
  --padding-left-right: 0.8rem;
  /*Debugging */
  /*outline: 1px solid red; */
}


html {
  font-size: 16px;
  font-family: -apple-system, BlinkMacSystemFont, "Open Sans", Roboto,
      "Helvetica Neue", Arial, sans-serif;
  line-height: 1.4rem;
  letter-spacing: 0.06rem;
}

body {

}

.bold-text {
  font-weight: bold;

}

.main-wrapper {
  width: 100%;
  display: grid;
  grid-template-areas: 
  "header-img"
  "content"
  "footer";
  
}

.main-wrapper > * {
  margin-bottom: 2.5rem;
}



.img-top {
  width: 100%;
  height: 550px;

  grid-row: header-img;

  background-image: url(./img/fitness-375472_1920.jpg);
  background-size: cover;
  background-color: #0008;
  background-blend-mode: darken;
  display: flex;
  justify-content: center;
  align-items: center;
}


.advert-text {
  max-width: 56ch;
  color: var(--text-color);
  padding-left: var(--padding-left-right);
  padding-right: var(--padding-left-right);
}

.header {
  height: 110px;
  width: 100%;
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: var(--padding-left-right);
  padding-right: var(--padding-left-right);
}



.header-img {
  height: auto;
  max-width: 145px;
  /*hsl(0, 0%, 100%)*/
  filter: invert(100%) sepia(3%) saturate(7489%) hue-rotate(331deg) brightness(113%) contrast(109%);
}

.header-img:hover {
  /*hsl(0, 0%, 93%)*/
  filter: invert(99%) sepia(0%) saturate(5936%) hue-rotate(183deg) brightness(120%) contrast(87%);
}

.nav-bar {
  width: 50%;
}

.nav-items {
  display: flex;
  justify-content: space-evenly;
  align-items: center;

  list-style: none;
}

a.nav-link:link {
  text-decoration: inherit;
  color: var(--text-color);
}

a.nav-link:visited {
  text-decoration: inherit;
  color: var(--text-color);
}

a.nav-link:hover {
  color: hsl(0, 0%, 93%);
}

.main-content {
  width: 100%;
  grid-row: content;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main-content > * {
  padding-left: var(--padding-left-right);
  padding-right: var(--padding-left-right);
}

.three-points {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;


}

.c-d__3-points--labels {
  max-width: 20ch;

}

.c-d__3-points--images {
  max-width: 8rem;
  margin-top: 1rem;
    
}



.video {

}

.newsletter {

}


.price-table {
  overflow-x: auto;
  border-collapse: collapse; 
  font-size: 0.7rem;
  letter-spacing: normal;

}

.price-table td, th {
  text-align: center; 
  padding: 0.5rem;
  border: lightgray solid 2px;
}

.tr:nth-child(1) {
  text-align: left;
}



.checkmark {
  width: 40px;
  height: auto;
  /*hsl(90, 48%, 47%)*/
  filter: invert(62%) sepia(11%) saturate(1933%) hue-rotate(47deg) brightness(97%) contrast(97%);
}


@media (min-width: 0px) {
    html {
      font-size: 1.1rem;
    }
  }
  
  @media (min-width: 400px) {
    html {
      font-size: 1.4rem;
    }
  }

  
  @media (min-width: 1001px) {
    html {
      font-size: 1.6rem;
    }
  }
